
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  }

h1 {
  font-weight: 300;
  font-size: 70px;
  line-height: 1.2;
  margin-bottom: 15px;
  font-family: 'Megrim', cursive;

}

h2 {
  font-weight: 300;
  font-size: 70px;
  line-height: 1.2;
  margin-bottom: 15px;
  padding-bottom: 50px;
  font-family: 'Megrim', cursive;
  color:#252f31

}
h3 {
  padding-top: 15px;
  font-family: 'Cinzel', serif;
  font-size: 30px;

}
h4 {
  text-align: center;
  font-family: 'Megrim', cursive;
  font-size: 40px;
  color: #E8E8E8;
  
}

nav {
  font-weight: 400;
  text-align: center;
  text
}

/* start of nav bar small screen */
@media screen and (max-width: 960px) {
  .navbar-toggler{
  margin: auto;
  width: 100%;
  padding: 15%;
  justify-content: center;
  }
}
/* end of nav bar small screen  */
/* start of nav bar  */
div.container-fluid {
    width: 30%;
    padding-top: 6px;
    overflow: hidden;
    padding-bottom: 10px 0 10px ;
    justify-content: center;
    
}

/* End navigation bar styling. */

/* Start of header section */

.showcase {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
    url("https://giphy.com/embed/Rg572qq7QAc7KwsK1E" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/natgeochannel-national-geographic-nat-geo-natgeo-Rg572qq7QAc7KwsK1E"
) no-repeat center
    center/cover;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.video-container:after {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
}

.content {
  z-index: 2;
}

.top-btn {
  display: inline-block;
  padding: 10px 30px;
  background: var(--primary-color);
  color: #fff;
  border-radius: 50px;
  border: solid #fff 1px;
  margin-top: 25px;
  opacity: 0.7;
}

.btn:hover {
  transform: scale(0.98);
}

#about {
  padding: 4px;
  text-align: center;
  background-color: ;
}

#about p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
}
div. #about h1 {
  margin-bottom: 10px;
}

.wrapper {
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #191e22;
}
.col-md-8text-center {
  padding: 100px 10px 100px;
  text-align: center;
  padding-bottom: 150px;
  color: azure;
}

/* end of header section */

/* start of skills/progress bar */
#skills {
	padding: 120px 0 100px 0;
	background-color: #E8E8E8;
}

/* start of card section*/
a.btn {
  display: inline-block;
  padding: 10px 30%;
  background: var(--primary-color);
  color: #fff;
  border-radius: 50px;
  border: solid #fff 1px;
  margin: 5%;
  opacity: 0.7;
  
}

div.cards {
  margin: 80px auto;
  max-width: 960px;
  text-align: center;
  justify-content: end;
  color: #d1d6da;
}

img:hover{
  opacity: 0.50;
}
div.card {
  display: inline-block;
  margin: 8px;
  max-width: 300px;
  perspective: 1000;
  position: relative;
  text-align: center;
  transition: all 0.3s 0s ease-in;
  width: 300px;
  z-index: 1;
  background: url("https://unsplash.com/photos/YGM77czGAtY");
  background-color: #191e22;

  img {
    max-width: 980px;
    width: 400px;
    height: auto;
  }

  .card__image-holder {
    background: rgba(0, 0, 0, 0.1);
    height: 0;
    padding-bottom: 300px;
  }

  div.card-title {
    background: @white;
    padding: 6px 15px 10px;
    position: relative;
    z-index: 0;

    a.toggle-info {
      border-radius: 32px;
      height: 32px;
      padding: 0;
      position: absolute;
      right: 15px;
      top: 10px;
      width: 32px;

      span {
        background: @white;
        display: block;
        height: 2px;
        position: absolute;
        top: 16px;
        transition: all 0.15s 0s ease-out;
        width: 12px;
      }

      span.left {
        right: 14px;
        transform: rotate(45deg);
      }
      span.right {
        left: 14px;
        transform: rotate(-45deg);
      }
    }

    h2.showcase{
      font-size: 28px;
      font-weight: 700;
      letter-spacing: -0.05em;
      margin: 0;
      padding: 0;
      padding-top: 0px;
      font-family: 'Cinzel', serif


      small {
        display: block;
        font-size: 20px;
        font-weight: 600;
        letter-spacing: -0.025em;
      }
    }
  }

  /* end of card section */

  /* start of card-img/desc  */
  div.card-description {
    padding: 0 15px 10px;
    position: relative;
    font-size: 16px;
    text-align: center;
  }

  div.card-actions {
    box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
    padding: 10px 150px 200px;
    text-align: center;

  }


}
.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: cover;
}

/* end of card-img  */


.middle-container{

  padding: 10px;
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.col{
  padding: 50px 30px 50px;
  margin: 10px;
  
}





/* start of contact - on smaller screens  */

@media screen and (max-width: 960px) {
  .form{
    float: right;
    margin :10px 10px 10px;
    text-align: center;
  }
 
  .paragraph{
    width: 20px;
    margin: 250px 20px 100px;
  }

  .middle-container{
    margin: auto;
    width: 25%;
    padding: 10%;
    justify-content: center;

  }
 
}
/* end of contact - on smaller screens  */
/* start of contact  */

/* footer {
  background-color: #252f31; 
} */

#contact-me {
  background-color: #252f31;
  overflow: hidden;
  padding-top: 50px;
  font-size: 20px;
  width: auto;
  
}

.contact-me h2 {
  color: #fff;
  padding-top: 50px;
  max-width: 960px;
  font-size: 50px;
  text-align: center;
}

.contact-me p,
.contact-me address {
  color: #6a6e71;
  margin-left: 10px;
  padding-top: 50px;
  font-size:18px;
}
.contact-me p strong {
  color: #d1d6da;
}

.contact-me .info,
.contact-me .form {
  width: 45%;
  float: left;
}
.contact-me .form {
  margin-top: 10px;
  margin-left: 5%;
  margin-bottom: 80px;
}
.contact-me .form label {
  display: block;
  color: #d1d6da;
  margin-bottom: 20px;
  margin-top: 20px;
}
.contact-me .form input[type="text"] {
  background-color: #4b5557;
  border: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact-me .form input[type="email"] {
  background-color: #4b5557;
  border: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  justify-content: center;
}
.contact-me .form textarea {
  color: #fff;
  background-color: #4b5557;
  border: 0;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.contact-me .form input[type="submit"] {
  background-color: #191e22;
  color: #fff;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 50px;
  left:150%
}
/* end of contact - me form  */

/* footer / socials  */

.social {
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}

/* smaller screens */
@media screen and (max-width: 960px) {
  .socials {
    width: 25%;
    margin: -4px;
  }
}
/* end of footer / socials  */
